/* Universal Styles */

/* Color Scheme

Main Background Color - #D1D2D5
Blog Post Background Color - Light Grey - #F0EFF0
Flexbox - White - #FFFFFF

*/

html {
  font-size: 16px;
}

body {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: Papyrus;
  color: black;
  text-shadow: 2px 2px 2px #FFFFFF;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  font-family: Papyrus;
  text-shadow: 2px 2px 2px #FFFFFF;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: black;
  font-family: Papyrus;
}

h4 {
  font-size: 1.6rem;
  color: black;
  font-family: Papyrus;
  text-shadow: 1px 1px 1px #FFFFFF;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-style: dashed;
}

h5 {
  font-size: 1.3rem;
  color: black;
  font-family: Papyrus;
  text-decoration: underline;
  text-decoration-style: dotted;
}

p {
  font-size: 1rem;
  color: black;
  font-weight: 100;
  font-family: Helvetica, sans-serif;
  line-height: 1.2;
}

ul {
  list-style-type: square;
  margin-bottom: 5px;
}

li {
  font-size: 1rem;
  color: black;
  font-weight: 50;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1rem;
  color: black;
  font-weight: 100;
  font-family: Helvetica, sans-serif;
  line-height: 1.2;
}

.flexcontainer {
  display: flex;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* Header Style */

header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #FFFFFF;
  position: fixed;
  border-bottom: 10px solid black;
}

.logo-big {
  display: inline;
  padding-left: 5px;
  padding-right: 180px;
}

.logo-big img{
  height: 80%;
  width: 500px;
}

header .logo-small {
  display: none;
  height: 80%;
}

header .logo-small,
header .logo-big {
  flex-grow: 1;
}

nav li {
  display: inline;
  padding-right: 2rem;
}

@media only screen and (max-width: 990px) {
  header .logo-big {
    display: none;
  }

  header .logo-small {
    display: flex;
  }

  header img {
    width: 40%;
  }
}

@media only screen and (max-width: 540px) {
  header {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  header .logo-small {
    margin-bottom: 1rem;
  }
}

/* About Landing Style */

.landingimage {
  background-image: url("../Images/Home/bonsairock_landing.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  border-bottom: 10px solid black;
  display: flex;
  color: white;
  justify-content: center;
  align-items: flex-end;

}

/* About Me Style */

#aboutme {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutme-flex {
  display: flex;
  min-height: 500px;
  align-items: center;
}

.aboutme-left {
  width: 30%;
  height: auto;
  padding: 20px;
}

.aboutme-left img {
  width: 100%;
  height: auto;
  border:1px solid #021a40;
}

.aboutme-middle {
  width: 50%;
  height: auto;
  padding: 32px 24px;
  text-align: justify;
}

.aboutme-content h4 p {
  color: black;
}

.aboutme-right {
  width: 20%;
  height: auto;
  background-color: #D1D2D5;
  border:1px solid black;
  padding: 30px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.socialmedia {
display: flex;
align-items: center;
}

.socialmedia img:first-child {
  max-width: 50px;
  max-height: 50px;
}

@media only screen and (max-width: 1080px) {

  .aboutme-left img {
    display: none;
  }

}

  /* Trips Style */

#trips {
  background-color: #D1D2D5;
  width: 100%;
  height: auto;
  border-top: 10px solid black;
}

#trips h1 {
  padding-top: 20px;
  text-align: center;
}

#trips .flexcontainer {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-bottom: 32px;

}

.tripspost {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 320px;
  margin: 10px;
  background-color: #FFFFFF;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
}

.tripsinfo {
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.tripsinfo h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: underline;
}

.tripsinfo img {
  width: 300px;
  height: 200px;
  padding-left: 2px;
}

.tripsinfo p {
padding-top: 10px;
}

/*Lightbox Color Backgrounds*/

/* #arenal {
  background-color: #FFFFFF;
}

#drake {
  background-color: #D1D2D5;
}

#adirondacks {
  background-color: #FFFFFF;
}

#glencanyon {
  background-color: #FFFFFF;
}

#southrim {
  background-color: #FFFFFF;
}

#tahoe {
  background-color: #FFFFFF;
}

#summer_acadia {
  background-color: #FFFFFF;
}

#winter_acadia {
  background-color: #D1D2D5;
}

#zion {
  background-color: #FFFFFF;
} */

/*Lightbox Gallery Style*/

.galleryinfo h2 {
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
}

.lightbox-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-bottom: 32px;
}

.galleryimage {
  width: 300px;
  height: 225px;
  border-radius: 10px;
  padding: 5px;
}

/* Blog Style */

#blog {
  background-color: #D1D2D5;
  padding-top: 80px;
  padding-bottom: 32px;
}

.blog-flex {
  display: flex;
  align-items: center;
}

.blog-leftside {
  width: 30%;
  height: auto;
  padding: 20px;
}

.blog-leftside img {
  width: 100%;
  height: auto;
  border:1px solid #021a40;
}

.blog-rightside {
  width: 70%;
  height: auto;
  padding: 32px 24px;
}

.blogcontent {
  padding: 5px;
}

.blogcontent h4, p, ul, li {
  color: black;

}

.blogcontent h5 {
  color: black;
  padding-bottom: 10px;
}

.blogcontent a:hover {
  color: #1E1F26;
  font-weight: 400;
}

/* Prints Style */

#prints {
  background-color: #D1D2D5;
  width: 100%;
  height: auto;
  padding-top: 100px;
}

#prints h2 {
  padding-top: 20px;
  text-align: center;
}

#prints h3 {
  padding-top: 20px;
  text-align: center;
}

#prints .flexcontainer {
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  margin-top: 30px;
}

#prints .printspost {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 600px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.printsinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.printsinfo h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
  text-decoration: underline;
}

.printsinfo img {
  width: auto;
  height: 250px;
  padding: 2px;
}

.printsinfo p {
padding: 10px 50px;
}

#magnets {
  background-color: #D1D2D5;
  width: 100%;
  height: auto;
  padding-top: 10px;
}

#magnets .printspost {
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 525px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

#magnets h2 {
  padding-top: 50px;
  text-align: center;
}

#magnets h3 {
  padding-top: 20px;
  text-align: center;
}

#magnets .flexcontainer {
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-bottom: 32px;
  margin-top: 30px;
}

/*Footer Style*/

footer {
  background-color: #D1D2D5;
  border-top: 1px solid Black;
  height: 30px;
}

footer p {
  font-size: 1rem;
  color: black;
  font-weight: 100;
  padding: 5px;
  margin-left: 10px;
}
